<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WallSwitch.Properties.Settings>
            <setting name="DispW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DispH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NormalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FakePath" serializeAs="String">
                <value />
            </setting>
        </WallSwitch.Properties.Settings>
    </userSettings>
</configuration>